* {
  font-family: 'Open Sans';
}

body, html {
  box-sizing: border-box;
  font-size: 15px;
  background-color: rgb(236, 231, 231);
}

.App {
  width: 100%;
  position: relative;
  --animateEnd: 
}

.dashBoardCont {
  padding: 30px 0 100px;
  width: 100%;
  gap: 30px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.set-all {
  border: 1px solid;
  width: 99%;
  
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: -0.5px;
  left: 0.5px;
  right: 0;
  width: 99.9%;
  height: 90px;
  background-color: rgb(225, 225, 225);
  box-shadow:0 -5px 10px rgba(66, 64, 64, 0.212);
  z-index: 2;
}



@media screen and (min-width: 800px) {
  
  .nav {
    width: 25%;
    left: 0;
    bottom: unset;
    height: 98%;
  }
  
  .dashBoardCont {
    padding: 30px 0;
    width: 75%;
    margin: unset;
    margin-left: auto;
  }
  
}